---
- name: "Gather os specific variables ({{ ansible_facts['distribution'] }} - {{ ansible_facts['distribution_major_version'] }})"
  include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
    - "../vars/{{ ansible_facts['distribution'] }}.yml"
    - "../vars/{{ ansible_facts['os_family'] }}.yml"

# ---------------------------------------------
# Install dependencies
# ---------------------------------------------
- name: Install dependencies
  import_tasks: dependencies.yml
  become: true

# --------------------------------------------------
# Create user/group
# --------------------------------------------------
- name: "Add miarec group '{{ miarec_bin_group }}'"
  group:
    name: "{{ miarec_bin_group }}"
    state: present
  when: miarec_bin_group != 'root'


- name: "Add miarec user '{{ miarec_bin_user }}'"
  user:
    name: "{{ miarec_bin_user }}"
    group: "{{ miarec_bin_group }}"
    comment: "MiaRec"
    shell: /bin/false
    system: true
  when: miarec_bin_user != 'root'


# --------------------------------------------------
# Initialize the installation/upgrade process
# --------------------------------------------------
- name: Initialize the deploy root and gather facts
  deploy_helper:
    path: "{{ miarec_install_dir }}"
    release: "{{ miarec_version }}"
    mode: u=rwX,g=rX,o=rX
  become: true

# --------------------------------------------------
# Install/upgrade 'miarec' app files
# --------------------------------------------------
- name: Install miarec
  import_tasks: install.yml
  become: true

# --------------------------------------------------
# Cleanup old and unfinished releases
# --------------------------------------------------
- name: Cleanup old releases
  deploy_helper:
    path: "{{ miarec_install_dir }}"
    release: '{{ deploy_helper.new_release }}'
    state: finalize
    keep_releases: 10
  notify:
    - Restart miarec
  become: true


# --------------------------------------------------
# Create SFTP user
# --------------------------------------------------
- name: Create SFTP user
  import_tasks: sftpuser.yml
  when: miarec_sftp_create_user|bool
  become: true
